timezone-demo/src/test/munit/timezone-demo-test-suite.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:munit="http://www.mulesoft.org/schema/mule/munit" xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd">
	<munit:config name="timezone-demo-test-suite.xml" />
	<flow name="timezone-demo-test-suiteFlow" doc:id="52e1caff-850c-430a-a93b-9f8cde0e832a" >
		<munit:set-event doc:name="Set Event" doc:id="6069a8b2-4a48-4338-9123-be71349d5222">
				<munit:attributes value="#[{uriParams:{region:'Asia',city:'Kolkata'}}]" />
			</munit:set-event>
	</flow>
	<munit:test name="timezone-demo-test-suite-timezone-demoFlowTest" doc:id="62ca8aa4-22ae-4300-ad7d-42684631c050" description="Test">
		<munit:execution >
			<flow-ref doc:name="Flow Reference" doc:id="ea5a2b19-88a4-4d12-8365-0a3268ada5b1" name="timezone-demo-test-suiteFlow"/>
			<flow-ref doc:name="Flow-ref to timezone-demoFlow" doc:id="4955429e-9409-4992-84ae-037b31edc247" name="timezone-demoFlow"/>
		</munit:execution>
		<munit:validation >
			<munit-tools:assert-that doc:name="Assert that" doc:id="332c53b3-ff49-40a0-afed-651b848a6700" is="#[MunitTools::notNullValue()]" expression="#[payload]" message="Payload is Null"/>
		</munit:validation>
	</munit:test>
	<munit:test name="timezone-demo-test-suite-timezone-demoFlowTest1" doc:id="fe50c230-71b3-42cd-97d0-f51e59c42e83" description="Test">
		<munit:execution >
			<flow-ref doc:name="Flow Reference" doc:id="01bdba96-4736-40c1-9cdf-13389f67de99" name="timezone-demo-test-suiteFlow"/>
			<flow-ref doc:name="Flow-ref to timezone-demoFlow" doc:id="98e46323-2fdb-4a1d-a8cd-867f4313da13" name="timezone-demoFlow"/>
		</munit:execution>
		<munit:validation >
			<munit-tools:assert-that doc:name="Assert that" doc:id="aa24ec86-8651-4928-b4a7-9be1436eb766" is="#[MunitTools::withMediaType('application/json')]" expression="#[payload]" message="Media Type is Incorrect"/>
		</munit:validation>
	</munit:test>
	<munit:test name="timezone-demo-test-suite-timezone-demoFlowTest2" doc:id="b3f69ff5-25e7-4725-903d-bb44fc7de303" description="Test">
		<munit:execution >
			<flow-ref doc:name="Flow Reference" doc:id="aa80163c-3060-4934-8dfe-a118c891c786" name="timezone-demo-test-suiteFlow"/>
			<flow-ref doc:name="Flow-ref to timezone-demoFlow" doc:id="e9033ed5-934f-44f6-8fe7-da637e480c84" name="timezone-demoFlow"/>
		</munit:execution>
		<munit:validation >
			<munit-tools:assert-that doc:name="Assert that" doc:id="40938839-ec4a-49da-a34f-fdaee935854a" is="#[MunitTools::equalTo(false)]" expression="#[payload.dst]" message="DST value is not correct"/>
		</munit:validation>
	</munit:test>


</mule>
